.footer {
  background-color: #c26bcf;
  padding-top: 15px;
}
.footer {
  .container {
    .row {
      .col-md-3 {
        img {
          width: 200px;
          height: 50px;
        }
      }
    }
  }
}

@media (width>=500) {
  .footer {
    .container {
      .row {
        .col-md-3 {
          img {
            width: 20px;
            height: 50px;
          }
        }
      }
    }
  }
}
