@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

/* // <uniquifier>: Use a unique and descriptive class name */

.cs-logo {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 556;
  font-style: normal;
  color: #ffffff;
}
#vidyalaya-logo {
  font-family: "Moderustic", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: small;
  font-style: normal;
  color: #ffffff;
}

.navbar.navbar-expand-lg.navbar-light {
  background-color: #c26bcf;
}
@media (500px >= width >= 350px) {
  .navbar.bg-body-tertiary > .container > .navbar-brand > img {
    width: 130px;
    height: 40px;
  }
  .d-flex > .form-control.me-2 {
    width: 90px;
  }
}
@media (350px >= width >= 200px) {
  .navbar.bg-body-tertiary > .container > .navbar-brand > img {
    width: 200px;
    height: 60px;
  }
}
@media (760px >= width >= 500px) {
  .navbar.bg-body-tertiary > .container > .navbar-brand > img {
    width: 270px;
    height: 70px;
  }
  .d-flex > .form-control.me-2 {
    width: 100px;
  }
}
.btn .btn-success {
  .material-icons {
    background-color: red;
  }
}
